body {
  background-color: rgb(169, 65, 238);
}

#title{
  display: flex;
  justify-content: center;
  color: rgb(63, 47, 34);
  padding: 10px;  
}

#center{
  display: flex;
  justify-content: center;
}

#scores{
  display: flex;
  margin: 30px;
  justify-content: center;
  color: rgb(188, 209, 208);  
}

#p2{
  margin-left: 40px;
}
